<footer>
  <div class="footer bg-dark text-center text-white shadow mt-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-sm-12 mt-5">
          <h4>About Us</h4>
          <div class="about-us" style="text-align: center">
            <img src="../../asset/images/LogoScgback.png" alt="" style="max-width: 50%; height: 95px; " />
            <p>บริษัท ปูนซิเมนต์ไทย(ทุ่งสง) จำกัด</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-5">
          <h4>Contact Us</h4>
          <p>
            ที่อยู่ : 52 หมู่ 6 ถนนทุ่งสง-ห้วยยอด ตำบลที่วัง อำเภอทุ่งสง
            จังหวัดนครศรีธรรมราช 80110<br />
            โทรศัพท์ : 0-7553-8092-119<br />
            เวลาทำการจันทร์-ศุกร์ เวลา 08:00-16:00 <br />
            <span style="color: yellow">Created Developer by Teeraphat S. & Developer by ISSARASUK
              I.</span>
          </p>
        </div>
        <div class="col-md-4 col-sm-12 mt-5">
          <h4>Follow Us</h4>
          <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100081163003834"><i class="fa fa-facebook icons"></i></a>
            <a href="#"><i class="fa fa-twitter icons"></i></a>
            <a href="#"><i class="fa fa-instagram icons"></i></a>
            <a href="#"><i class="fa fa-linkedin icons"></i></a>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-12">
          <p>&copy; 2023 - All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>