input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.search-btn:hover {
  cursor: pointer;
  color: red;
}

.remove-btn {
  background-color: #ffffff;
  color: red;
  padding: 10px;
}

.remove-span {
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
}

.field_row {
  display: flex;
  align-items: center;
}

.add_cal,
.remove_cal,
.add_checker,
.remove_checker {
  display: inline-block;
  margin-left: 5px;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  line-height: 0.5;
}

.tab-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tab {
  padding: 10px 20px; 
  background-color: #ffffff;
  color: #2B3467;
  border: 1px solid #cdcdcd;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  text-align: center;
}

.tab.active {
  background-color: #2B3467;
  color: #fff;
  text-align: center;
}

.tab:hover,
.tab.active:hover {
  background-color: #202541;
  color: #ffffff;
}

.tab-content {
  display: none;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.tab-content.active {
  display: block;
}

.formbold-step-menu1.active{
  background-color:#EB455F;
  color: #ffffff;
}
.formbold-step-menu1{
  margin-left: 20px;
  padding: 10px 20px; 
  background-color: #939393;
  color: #2B3467;
  border-radius: 5px 5px 0 0;
  text-align: center;
  box-shadow:0px 0px 15px 0px  rgba(129, 129, 129, 0.4);
}
.formbold-step-menu2.active{
  background-color:#EB455F;
  color: #ffffff;
}
.formbold-step-menu2{
  padding: 10px 20px; 
  background-color: #939393;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
  text-align: center;
  box-shadow:0px 0px 15px 0px  rgba(129, 129, 129, 0.4);
}




@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  /* width: 800px; */
  background: white;
}

.formbold-steps ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.formbold-steps li {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.formbold-steps li span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dde3ec;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #939393;
}

/* .formbold-form-wrapper{
  padding: 20px;
  border-radius: 10px;
  box-shadow:0px 0px 15px 0px  rgba(129, 129, 129, 0.4);
} */


.formbold-steps li.active {
  color: #ffffff;
}

.formbold-steps li.active span {
  background: #ffffff;
  color: #EB455F;
}

.formbold-input-flex {
  display: flex;
  gap: 20px;
  margin-bottom: 22px;
}

.formbold-input-flex>div {
  width: 50%;
}

.formbold-form-input {
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  font-weight: 500;
  font-size: 16px;
  color: #536387;
  outline: none;
  resize: none;
}

.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-form-label {
  color: #07074d;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
}

.formbold-form-confirm {
  border-bottom: 1px solid #dde3ec;
  padding-bottom: 35px;
}

.formbold-form-confirm p {
  font-size: 16px;
  line-height: 24px;
  color: #536387;
  margin-bottom: 22px;
  width: 75%;
}

.formbold-form-confirm>div {
  display: flex;
  gap: 15px;
}

.formbold-confirm-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  border: 0.5px solid #dde3ec;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #536387;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.formbold-confirm-btn {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}

.formbold-confirm-btn.active {
  background: #6a64f1;
  color: #ffffff;
}

.formbold-form-step-1,
.formbold-form-step-2 {
  display: none;
}

.formbold-form-step-1.active,
.formbold-form-step-2.active {
  display: block;
}

.formbold-form-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  margin-top: 25px;
}

.formbold-back-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 25px;
  border: none;
  font-weight: 500;
  background-color: #EB455F;
  color: white;
  cursor: pointer;
}

.formbold-back-btn:hover {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  outline: auto;
}

.formbold-back-btn.active {
  display: block;
}

.formbold-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 25px;
  border: none;
  font-weight: 500;
  background-color: #2B3467;
  color: white;
  cursor: pointer;
}

.formbold-btn:hover {
  /* box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05); */
  background-color: #fff;
  color: black;
  outline: auto;
}

.icon{
  font-size: 70px;
  border: 0;
  padding: 0px;
}


.adder{
  box-shadow:0px 0px 15px 0px  rgba(129, 129, 129, 0.4);
  border: 1px #cdcdcd solid;
  padding: 20px;
  border-radius: 10px;
  background-color: #F2F2F2;
}

.addbt{
  font-weight:500;
  background-color: #EB455F;
  border-radius: 5px;
  border: 0;
  margin-top: 10px;
  height: 40px;
  width: 100px;
  box-shadow:3px 3px 3px 0px  rgba(129, 129, 129, 0.4);
}
.addbt:hover{
  background-color: #c43f53;
  font-weight: bold;
}

.addbt2{
  background-color: #EB455F;
  color: #fff;
  border-radius: 5px;
  border: 0;
  height: 40px;
  width: 100px;
  box-shadow:2px 2px 2px 0px  rgba(129, 129, 129, 0.4);
}
.addbt2:hover{
  background-color: #c43f53;
  color: #fff;
  font-weight: bold;
}

.debt{
  background-color: #CD2929;
  color: #fff;
  border-radius: 5px;
  border: 0;
  height: 25px;
  width: 100px;
  box-shadow:2px 2px 2px 0px  rgba(129, 129, 129, 0.4);
  font-size: 10px;
  padding: 0;
}

.debt:hover{
  background-color: rgb(152, 24, 24);

}

.in{
  height: 25px; 
  border: 1px #848484 solid;
  background-color: #c7c7c7;
}

.dropdown-main{
  padding: 0.25rem 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  width: 89%;
  top: 2.8rem !important;
  list-style: none;
  z-index: 20;
  overflow-y: auto;
  max-height: 200px;
  width: 300px;
}

.grand-relative{
  position: relative;
  width: 100%;
}

.dropdown-main li {
  border-bottom: 1px solid #000;
  text-align: start;
  padding: 0 0.5rem;
}

.dropdown-main li:last-child{
  border-bottom: none;

}
.list-dropdown{
  cursor: pointer;
}

.list-dropdown:hover{
  background-color: #c7c7c7;
}

.btn-delete{
  background-color: #c43f53;
}