@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap%27');

.login-page {
  margin: 30px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.form-floating {
  position: relative;
  margin-bottom: 20px;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.icon:hover {
  border-color: #007bff;
}

.icon img {
  height: 50px;
  margin-bottom: 10px;
}

.login-form {
  margin-top: 20px;
}

input[type="text"],
input[type="password"],
button {
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

.icon.selected {
  border-color: #007bff;
}

.login-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

* {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}

.nav-item:hover {
  color: rgb(194, 194, 194);
  font-weight: bold;
}

.nav-item a{
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.nav-item2 a{
  color: rgb(255, 255, 255);
  font-size: 35px;
}

.nav-item:hover a {
  color: #EB455F;
  font-weight: bold;
}

.navbar {
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  height: auto;
  width: 100%;
}

.vertical {
  float: center;
  border-right: 2px solid #ccc;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

.link_pointer{
  cursor: pointer;
}

p.head1,.head2{
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 35px;
  font-weight: bold;
  color: #2B3467;
  text-shadow: 1px 1px 0px rgb(3, 12, 53);
}
p.head1{
  margin-top: 20px;
}
p.head2{
margin: 0px;
}

button.bth{
  height: 35px;
  color: rgb(255, 255, 255);
  background-color: #EB455F;
  font-size: 15px;
}

button.bt1{
  height: 30px;
  color: rgb(18, 108, 141);
  background-color: #fff;
  font-size: 15px;
  padding: 0;
  border-color: #cacaca;
}
button.bt2{

  height: 30px;
  color: rgb(7, 165, 99);
  background-color: #fff;
  font-size: 15px;
  padding: 0;
  border-color: #cacaca;

}
button.bt3{
  height: 30px;
  background-color: #ffffff;
  color: #d81818;
  font-size: 15px;
  padding: 0;
  border-color: #cacaca;
}
button.bt1:hover{
  background-color: rgb(20, 121, 157);
  color: #fff;
}
button.bt2:hover{
  background-color: rgb(17, 117, 71);
  color: #fff;
}
button.bt3:hover{
  background-color: #923333;
  color: #fff;
}
.card{
  background-color: #ffffff;
  border-color: #ffffff;
  border-width: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title{
  font-weight: bold;
  font-size: 25px;
  color: #2B3467;
  padding-bottom: 20px;
  padding-left: 0px;
  border-radius: 2px;
  /* text-shadow: 1px 1px 0px rgb(0, 0, 0); */
}
.line1{
  padding: 30px;
  padding-bottom: 0;
  border-left:1px #cacaca solid ;
}
.line2{
  padding-bottom: 10px;
  border-bottom:1px #cacaca solid ;
}
.card-title2{
  color: #2B3467;
}


.backhead{
  width: 90%;

}
.img{
  box-shadow:0px -15px 30px  rgba(0, 0, 0, 0.4) inset;
  width: 100%;
  height: 400px;
  background: url("../../../asset/images/back1.png") no-repeat center center fixed !important;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  overflow:auto;
}
.img2{
  box-shadow:0px -20px 30px  rgba(0, 0, 0, 0.5) inset;
  width: 100%;
  height: 350px;
  background: url("../../../asset/images/backhis.jpg") no-repeat center center fixed !important;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  overflow:auto;
}
.img3{
  box-shadow:0px -20px 30px 0px rgba(0, 0, 0, 0.9) inset;
  width: 100%;
  height: 350px;
  background: url("../../../asset/images/back5.jpg") no-repeat center center fixed !important;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  overflow:auto;
}

.titlename h2{
  margin-top: 200px;
  margin-right: 80px;
  text-align: right;
  font-size: 70px;
  font-weight: bold;
  color: #ffffffee;
}
button.btcur{
  padding: 0px;
}
button.btcur:hover{
  color: #ffffff;
}
.back{
  background-color: #ecebeb;
}
.back2{
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body.bd{
  background-color: #ecebeb;
}
.box1{
  padding: 40px;
  background-color: #fff;
  box-shadow:5px 5px 5px  rgba(0, 0, 0, 0.4);
  border: #cacaca 1px solid;
  border-radius: 15px;
  margin: 50px;
}
.boxpro{
  background-color: #ffffff;
  box-shadow:5px 5px 5px  rgba(0, 0, 0, 0.4);
  border: #cacaca 1px solid;
  border-radius: 10px;
}

button.btcur{
  margin: 0;
}
tr{
  border-radius: 5px;
  border-bottom: 1px #cacaca solid;
  box-shadow:0px 2px 5px  rgba(129, 129, 129, 0.4)inset;
  margin-bottom: 5px;
}
tr.tbhead{
  margin-top: 20px;
  border: 1px #d4d4d4 solid;
  border-bottom: #858585 2px solid;
  background-color: #eaeaea;
  box-shadow:0px 0px 10px 0px  rgba(129, 129, 129, 0.4) inset;
}
.dataTables_wrapper .dataTables_filter input{
  margin-bottom: 20px;
}
.dataTables_wrapper .dataTables_length select {
  margin-bottom: 20px;
}





